/* =========================================
            COLORS
========================================= */

$white: #FFFFFF;
$blue: #006994;
$blue-light: #587483;
$silver: #F1F1F1;
$silver-dark: #C0C0C0;
$black: #000000;